<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Copy of Rules for StyleCop" Description="Code analysis rules for StyleCop.csproj." ToolsVersion="15.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1201" Action="None" />
    <Rule Id="SA1600" Action="None" />
	<Rule Id="SA1602" Action="None" />
    <Rule Id="SA1611" Action="None" />
    <Rule Id="SA1633" Action="None" />
  </Rules>
</RuleSet>